/* Reset de estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #search-section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #search {
    padding: 10px;
    width: 50%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #6c7dff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #5a6bc8;
  }
  
  #esmaltes-list {
    margin-top: 20px;
  }
  
  #esmaltes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .esmalte-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
  }
  
  .esmalte-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
  }
  